.cart-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    width: 18rem;
    height: 100%;
    color: black;
    margin-top: 0;
    background-color: white;
}

.hidden {
    display: none
}

.cart-modal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cart-checkout-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    background-color: rgb(6, 193, 103);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
