.cancel-form-button {
    width: 100%;
    border-top: 15px;
    padding: 10px;
    height: 3rem;
    background-color: rgb(184, 184, 184);
    opacity: 0.8;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.cancel-form-button:hover {
    opacity: 1.0;
}