body {
    font-family: sans-serif;
}

.add-restaurant-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto
}
    
.add-restaurant-form > input {
    width: 100%;
}

.individualFormContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-bottom: 10px;
    margin-bottom: 15px
}

.formHeading {
margin-bottom: 25px;
text-align: center;
font-size: 1.3rem;
}

.cuisine select {
    width: 52%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 0.9rem;
}

.longerFormContainer {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-bottom: 10px;
    margin-bottom: 15px
}

.longerFormContainer select {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 0.9rem;
}

.longerFormContainer input {
    width: 100%;
    margin-top: 10px;
}

/* .file-upload-button{
    border-top: 15px;
    padding: 10px;
    background-color: #e4e6e4;
    opacity: 0.8;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
} */

.submit-form-button {
    width: 100%;
    border-top: 15px;
    padding: 10px;
    height: 3rem;
    background-color: rgba(63, 187, 63);
    opacity: 0.8;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.submit-form-button:hover {
    opacity: 1.0
}

.error {
    color: red;
    margin: 2px;


}