.logIn-nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  gap: 6px;
  padding-left: 2rem;
  align-items: center;
    /* position: absolute;
        top: 0;
        left: 0; */
        width: 100%;
        margin-left: -10px;
        margin-top: -10px;
        height: 5rem;
}

.Epic-logIn-Nav {
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.9rem;
  font-weight: 100;
}

.Eats-logIn-Nav {
  color: rgb(63, 187, 63);
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

.logIn-Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
      font-size: 20px;
 
}
/* .logIn-Form p{
  padding-bottom: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  
} */
.input{
  background-color: rgba(211, 211, 211, 0.331);
  border: none;
  width: 18rem;
  height: 2.5rem;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 5px;
}

.logIn-form-button{
    display: flex;
      height: 2.6rem;
      color: white;
      background-color: black;
      border: none;
      font-size: 16.5px;
      border-radius: 5px;
      width: 18.5rem;
      justify-content: center;
      align-items: center;
      align-self: center;
}

.or{
  height: 10px;
  margin: 0;
  margin-bottom: 11px;
  color: rgb(180, 177, 177);
  

}

.signError {
  display: flex;
  color: red;
  margin-top: 0;
  width: 24.5rem;
  height: 1.4rem;
  padding-bottom: 2px;
  justify-content: center;
  font-size: 16px;
}

/* *:disabled{
  background-color: rgba(0, 0, 0, 0.582);
} */