.restImg {
  width: 100%;
  height: 12rem;
  border-radius: 1rem;
  object-fit:cover;
}

.rest-index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 3.5rem;
  gap: 35px;
  /* border: 1px solid yellow;  */
  justify-content: flex-start;
  margin-left: 3rem;

 
}

.singleRestContainer {
  display: flex;
  flex-direction: column;
  width: 18rem;
  text-decoration: none;
  font-family: sans-serif;
}

.main-name{

  font-size: 18px;

}

.delivery-fee-main{
  margin: 0;
  margin-top: 2px;
  font-size: 15px;
  font-weight: 100;
}


.item-type-filter-main{
  display: flex;
  flex-direction: column;
  width: 21rem;
  gap: 5px;
  /* border: 1px solid red ; */
  height: 20rem;
}


.main-filter-items{
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
  margin-left: 3.5rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.dollar-buttoms{
display: flex;
flex-direction: row;
gap: 5px;
margin: 0;
/* border: 1px solid blue; */
}

.dollar-buttoms button{
  background-color: rgba(211, 211, 211, 0.626);
  border: none;
  width: 3rem;
  height: 2.5rem;
  border-radius: 40%;
}

.dollar-buttoms button.active {
  background-color: black;
  color: white;
}

.all-main button{
  background-color: white;
  border: none;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 0;
  text-decoration: underline;
  /* border: 1px solid red; */
  margin-bottom: 15px;
  padding-right: 10px;
  padding: 0;
}

.item-type-filter-main  {
  margin: 0;
  height: 2rem;
  font-family: sans-serif;
  font-size: 17px;
}



.item-type-filter-main h2{
  margin-bottom: 5rem;
  width: 12rem;
  margin-right: 0;
  padding-right: 0;
}



.sort{
font-family: sans-serif;
font-size: 21px;
font-weight: 500;
margin-bottom: 0;
width: 5rem;
}

.clear{
  font-size: 15px;
}

.price{
  font-family: sans-serif;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 10px;
    margin-top: 0;
}

.name-rating{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  margin-bottom: 0;
  height: 1.5rem;
  margin-top: 10px;
}

.rating{
  background-color:#EEEEEE;
  padding: 8px;
  border-radius: 50%;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {

  .main-filter-items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dollar-buttoms {
    display: none
  }

  .main-filter-items{
    margin: 0;
    width: 100%;

  }

  .singleRestContainer{
    width: 100%;
    margin: 0px;
    height: auto;
  }

  .rest-index-container{
    margin-top: 10px;
    margin: 20px;
    height: auto;
  }

  .restImg{
    width: 23rem;
    height: 13rem;
  }


}