.restImg {
  width: 19rem;
  height: 12rem;
  border-radius: 1rem;
  object-fit: cover;
}

.rest-index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 3.5rem;
  margin-right: 1rem;
  gap: 35px;
  
 
}

.singleRestContainer {
  display: flex;
  flex-direction: column;
  width: 18rem;
  text-decoration: none;
  font-family: sans-serif;
}

.main-name{
  margin: 0;
  font-size: 19px;
  margin-top: 2px;
}

.delivery-fee-main{
  margin: 0;
  margin-top: 2px;
  font-size: 15.5px;
}



