

.manageHeader {
    margin-bottom: 0.4em;
    font-size: 1.3em;
    font-family: sans-serif;
  }

.addRestaurantButton {
    border-top: 0.1em;
    padding: 0.5em;
    background-color: #000000;
    color: white;
    opacity: 0.8;
    border-radius: 0.5em;
    border: none;
    font-size: 0.8rem;
    font-weight: 510;
    margin-bottom: 2em;
}


.addRestaurantButton:hover {
    opacity: 1.0;
} 

.rest-index-container {
    margin-top: 1.5rem;
    margin-bottom: 4rem
}

.manageSpot-buttons {
    display: flex;
    gap: 0.8em;
    margin-top: 0.5em;
}

.manageSpot-buttons button{
    border-top: 15px;
    padding: 0.8em;
    background-color: #000000;
    color: white;
    opacity: 0.9;
    border-radius: 0.5em;
    border: none;
    font-size: 0.8rem;
    font-weight: 510;
}
.manageSpot-buttons button:hover{
    opacity: 1.0;
}
.deleteRestaurantButton {
    display: flex;
    justify-content: center;
}

.manageRestImg {
    position: relative;
    width: 100%;
    height: 13em;
    margin-bottom: 2em;
  }
  
  .imageOverlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
  }
  
  .textOverlay {
    position: absolute;
    border-radius: 0.5em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background: linear-gradient(180deg, #00000088 30%, #ffffff44 100%);
  }
  
  .textOverlay a:visited {
    color: white
  }

  .textOverlay a {
    color: white
  }

  .textOverlay a {
    text-decoration: none;
  }


  .restaurantName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.2em;
  }
  
  .restaurantAddress {
    font-size: 1rem;
  }

  .manage-rest-container {
    width: 90%;
    margin: auto;
    /* margin-right: 30px; */
  }

  .manage-rest-index-container {
    width: 100%;
  }