

.manageHeader {
    margin-bottom: 10px;
    font-size: 1.3em;
    font-family: sans-serif;
  }
.addRestaurantButton {
    border-top: 15px;
    padding: 10px;
    background-color: #000000;
    color: white;
    opacity: 0.8;
    border-radius: 5px;
    border: none;
    font-size: 0.8rem;
    font-weight: 510;
    margin-bottom: 40px;
}


.addRestaurantButton:hover {
    opacity: 1.0;
} 

.rest-index-container {
    margin-top: 1.5rem;
    margin-bottom: 4rem
}

.manageSpot-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.manageSpot-buttons button{
    padding-left: 5px;
    border-top: 15px;
    padding: 10px;
    background-color: #000000;
    color: white;
    opacity: 0.9;
    border-radius: 5px;
    border: none;
    font-size: 0.8rem;
    font-weight: 510;
}
.manageSpot-buttons button:hover{
    opacity: 1.0;
}
.deleteRestaurantButton {
    display: flex;
    justify-content: center;
}

.manageRestImg {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    /* margin-left: 25px; */
    /* margin-right: 30px; */
    margin-bottom: 40px
  }
  
  .imageOverlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .textOverlay {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background: linear-gradient(180deg, #00000088 30%, #ffffff44 100%);
  }
  
  .restaurantName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .restaurantAddress {
    font-size: 16px;
  }

  .manage-rest-container {
    width: 95%;
    margin: auto;
    /* margin-right: 30px; */
  }

  .manage-rest-index-container {
    width: 100%;
  }