#checkout-wrapper {
    display: flex;
    flex-direction: row;
}

#checkout-left-side {
    display: flex;
    width: 62%;
    flex-direction: column;
}

#checkout-right-side {
    display: flex;
    width: 38%;
    flex-direction: column;
}

#checkout-right-side:before {
    content: "";
    background-color: rgb(247, 247, 247);
    position: absolute;
    height: 100%;
    width: 38%;
    z-index: -1;
    left: 62%;
    top: 0px;
}

.bottom-border {
    border-bottom: 2px rgb(219, 219, 219) solid;
    padding: 15px 0px;
}

.space-between {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.fieldset-delivery {
    display: flex;
    gap: 1rem;
}

.left-section {
    display: flex;
    flex-direction: column;
    width: 63%;
    margin: 0px 32px;
}

.left-subsection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.right-section {
    display: flex;
    flex-direction: column;
    margin: 0px 50px 0px 80px;
}
#place-order-button {
    width: 100%
}

#place-order-button button {
    background-color: rgb(4, 145, 77);
    color: white;
    font-size: 18px;
    height: 50px;
    border: none;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

#tip-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.info-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.checkout-page-input {
    border: none;
    border-radius: 16px;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(221, 221, 221);
}

.checkout-page-button {
    border: none;
    border-radius: 16px;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(221, 221, 221);
}

.checkout-page-button-active{
    background-color: black;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 10px;
    font-size: 15px;
}

.checkout-page-button:hover {
    background-color: rgb(201, 201, 201);
    cursor: pointer;
}

#checkout-left-side h2 {
    font-size: 35px;
    margin: 0px;
}

#checkout-left-side h3 {
    font-size: 22px;
}

.left-subsection > i {
    font-size: 20px;
}

.checkout-right-side h4 {
    display: flex;
    margin: 0px;
}

#successful-box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.red {
    color: red;
}

.fieldset-delivery {
    border: none;
}

.fieldset-priority {
    border: none;
}

.radio-delivery {
    background-color: black
}


#payment-choice {
    display: flex;
    gap: 10px;
}

#payment-choice button {
    width: 4rem;
    font-size: 20px;
    padding: 7px;
}

#delivery-choice {
    display: flex;
    gap: 10px;
}

#delivery-choice button {
    width: 6.4rem;
}

#custom-tip::-webkit-outer-spin-button,
#custom-tip::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#custom-tip-wrap > #dollar-sign {
    position: absolute;
    padding: 10px;
    font-size: 15px;
}
#custom-tip-wrap {
    width: 30%;
}
#custom-tip-wrap > #custom-tip {
    padding-left: 20px;
    max-width: 6rem;
    width: 100%;
}

.white {
    color: white;
}

.black {
    color: black;
}
#checkout-restaurant {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

#checkout-restaurant > img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
}

@media only screen and (max-width: 1100px) {
    #checkout-wrapper {
        flex-direction: column;
    }

    #checkout-left-side {
        width: 100%;
    }

    #checkout-left-side > .left-section {
        width: 90%;
        padding-right: 20px;
    }

    #checkout-right-side:before {
        position: relative;
    }

    #checkout-right-side {
        width: 100%;
        margin-top: 5rem;
    }

    .right-section {
        margin: 0 10%;
    }
}
